{% extends 'layout.html.twig' %}

{% block title %}Carhabty
{% endblock %}

{% block LinksCss %}
	{{ parent() }}
	<link type="text/css" rel="stylesheet" href="{{ asset ('css/popup.css')}}">
	 <link rel="stylesheet" href="{{ asset ('css/stylebutton.css') }}">
{% endblock %}

{% block Content %}
					


	
				<div class=" col-lg-12">

					<div class="aiz-carousel dots-inside-bottom mobile-img-auto-height" data-arrows="true" data-dots="true" data-autoplay="true" data-infinite="true">

						<div class="carousel-box">
							<a href="">
								<img class="d-block w-100 rounded" src="https://res.cloudinary.com/aladdineshoping/image/upload/v1645467378/icones/1645395075573_cykvht.jpg" onerror="this.onerror=null;this.src='assets/img/placeholder-rect.png';" alt="First slide">
							</a>
						</div>
<div class="carousel-box">
							<a href="">
								<img class="d-block w-100 rounded" src="https://res.cloudinary.com/aladdineshoping/image/upload/v1645467377/icones/1645395075579_vgrob4.jpg" onerror="this.onerror=null;this.src='assets/img/placeholder-rect.png';" alt="First slide">
							</a>
						</div>

						


					</div>
				</div>
			{% endblock %}
			{% block javascript %}
				{{ parent() }}
				<script type="text/javascript"></script>
			{% endblock %}
