{% extends 'layout.html.twig' %}

{% block title %}Carhabty
{% endblock %}

{% block LinksCss %}
	{{ parent() }}
	<link type="text/css" rel="stylesheet" href="{{ asset ('css/popup.css')}}">
{% endblock %}

{% block Content %}
	{{ parent() }}

	
				<div class=" col-lg-12">

					<div class="aiz-carousel dots-inside-bottom mobile-img-auto-height" data-arrows="true" data-dots="true" data-autoplay="true" data-infinite="true">

						<div class="carousel-box">
							<a href="">
								<img class="d-block w-100 rounded" src="https://res.cloudinary.com/aladdineshoping/image/upload/v1761942372/Red_Black_Modern_Car_Service_Banner_uke5vw.png" onerror="this.onerror=null;this.src='assets/img/placeholder-rect.png';" alt="First slide">
							</a>
						</div>

						


					</div>
				</div>
			{% endblock %}
			{% block javascript %}
				{{ parent() }}
				<script type="text/javascript"></script>
			{% endblock %}
