security:
    # Hashage des mots de passe
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # Fournisseurs d’utilisateurs
    providers:
        app_user_provider:
            entity:
                class: App\Entity\Users
                property: email
        chain_provider:
            chain:
                providers: [app_user_provider]

    # Firewalls
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: chain_provider
            form_login:
                login_path: app_login
                check_path: app_login
            logout:
                path: app_logout
                # target: app_any_route

    # Contrôle d’accès
    access_control:
        - { path: ^/accueil, roles: ROLE_USER }

    # Hiérarchie des rôles
    role_hierarchy:
        ROLE_ADMIN: [ROLE_USER]
        ROLE_USER: [ROLE_SELLER, ROLE_CUSTOMER, ROLE_BOYDELEVRY]

# Configuration pour l’environnement de test
when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
