security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Users
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator:
                - App\Security\UsersAuthenticator
            logout:
                path: app_logout
                target: app_login

    access_control:
        - { path: ^/Accueil, roles: ROLE_USER }

    role_hierarchy:
        ROLE_ADMIN: ROLE_USER
