version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: carhabty-app
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./certbot/conf/flat/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - ./certbot/conf/flat/privkey.pem:/etc/ssl/private/privkey.pem:ro
      - ./certbot/www:/var/www/certbot
    environment:
      APP_ENV: prod
      APP_DEBUG: 1
    command: >
      bash -c "a2enmod ssl rewrite headers &&
               a2ensite default-ssl.conf &&
               a2ensite 000-default.conf &&
               apache2-foreground"
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    container_name: carhabty-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: carhabty
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: carhabty-phpmyadmin
    restart: always
    depends_on:
      - db
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: /bin/sh
    command: -c "sleep infinity"
    restart: unless-stopped

volumes:
  db_data:
