version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: carhabty-app
    ports:
      - "80:80"     # <-- changer ici, pour que le port 80 du serveur pointe sur le container
      - "443:443"
    volumes:
      - ./certbot/www:/var/www/certbot
    environment:
      APP_ENV: prod
      APP_DEBUG: 1
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    container_name: carhabty-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: carhabty
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: carhabty-phpmyadmin
    restart: always
    depends_on:
      - db
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root

volumes:
  db_data:
