version: "3.9"

services:
  app:
    image: php:8.2-fpm
    container_name: carhabty-app
    volumes:
      - ./html:/var/www/html
    environment:
      APP_ENV: prod
      APP_DEBUG: 1
    depends_on:
      - db
    restart: always

  nginx:
    image: nginx:stable
    container_name: carhabty-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./html:/var/www/html
      - ./certs/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - ./certs/privkey.pem:/etc/ssl/private/privkey.pem:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: always

  db:
    image: mysql:8.0
    container_name: carhabty-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: carhabty
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
