version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: carhabty-app
    ports:
      - "8080:80" # http://vps-ip:8080
    volumes:
      - .:/var/www/html
    environment:
      APP_ENV: prod
      APP_DEBUG: 0
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    container_name: carhabty-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: carhabty
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: always

volumes:
  db_data:
