controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute
    letsencrypt:
        path: /.well-known/acme-challenge/{filename}
        controller: App\Controller\CertbotController::serve

