  <!-- الهيدر -->
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <div class="logo">
                    <span>QdT</span>
                </div>
                <div class="slogan">تهنى على سيارتك من الطولة للموطور</div>
            </div>
            <div class="nav-buttons">
                <button class="btn btn-loginheader">Se connecter</button>
                <button class="btn btn-register">S'inscrire</button>
            </div>
        </nav>
    </header>
